
*.dta

*.RData

*.gph

xtwest.do

Resources/kellyenns_mood.do

Resources

cache

.DS_Store

*.webloc

*.aux

*.bbl

*.tex

*.gz

*.out

*.log

*.fls

*.blg

*.fdb_latexmk

.Rhistory

*.irf

*.runs

*.doc

*.docx

Argentina_StructuralBreak.pdf

Chile_StructuralBreak.pdf

Colombia_StructuralBreak.pdf

Guatemala_StructuralBreak.pdf

IRF_Paper.pdf

Mexico_StructuralBreak.pdf

Nicaragua_StructuralBreak.pdf

PaperAbstract.pdf

Structural_Breaks_Paper.pdf

Submission/

*.rdb

PaperAbstract.md

*.txt
